@page
@model Torneo.App.Frontend.Pages.Posiciones.CreateModel
@{
}
<section class="container">
  <div class="row my-5">
    <div class="col-sm-12 col-md-12 cpñ-lg-12">
      <form method="POST" class="formulario">
        <h3 class="display-5 text-primary text-center">Nuevo posicion</h3>
        <div class="form-group">
          <label asp-for="posicion.Nombre"></label>
          <input asp-for="posicion.Nombre" class="form-control" placeholder="Nombre de la posicion"
          maxlength="20">
          <span class="text-danger" asp-validation-for="posicion.Nombre"></span>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Crear posicion</button>
        <a class="btn btn-secondary" asp-page="./Index">Volver</a>
      </form>
    </div>
  </div>
</section>