@page
@model Torneo.App.Frontend.Pages.Municipios.CreateModel
@{
}
<section class="container">
  <div class="row my-5">
    <div class="col-sm-12 col-md-12 cpñ-lg-12">
    <form method="POST" class="formulario">
      <h3 class="display-5 text-primary text-center">Nuevo municipio</h3>
      <div class="form-group">
        <label FONT COLOR="white" asp-for="municipio.Nombre"></label>
        <input asp-for="municipio.Nombre" class="form-control" placeholder="Nombre del municipio"
          maxlength="20">
        <span class="text-danger" asp-validation-for="municipio.Nombre"></span>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Crear municipio</button>
      <a class="btn btn-secondary" asp-page="./Index">Volver</a>
    </form>
    </div>
  </div>
</section>
