@page
@model Torneo.App.Frontend.Pages.Partidos.CreateModel
@{
}
<h1>Nuevo Partido</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="partido.fechahora"></label>
        <input asp-for="partido.fechahora" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Crear partido</button>
</form>
<a class="btn btn-secondary" asp-page="./Index">Volver</a>

<div class="form-group">
    <label for="idEquipo">Equipo</label>
    <select id="idEquipo" name="idEquipo" class="form-control">
        @foreach (var equipo in Model.equipos)
        {
            <option value="@equipo.Id">@equipo.Nombre</option>
        }
    </select>
</div>

