@page
@model Torneo.App.Frontend.Pages.DirectoresTecnicos.CreateModel
@{
}
<section class="container">
  <div class="row my-5">
    <div class="col-sm-12 col-md-12 cpñ-lg-12">
      <form method="post" class="formulario">
        <h3 class="display-5 text-primary text-center">Nuevo Director Tecnico</h3>
        <div class="form-group">
          <label asp-for="dt.Nombre"></label>
          <input asp-for="dt.Nombre" class="form-control" placeholder="Nombre del Director Tecnico" maxlength="30">
          <span class="text-danger" asp-validation-for="dt.Nombre"></span>
        </div>
        <div class="form-group">
          <label asp-for="dt.Documento"></label>
          <input asp-for="dt.Documento" class="form-control" placeholder="Documento del Director Tecnico" maxlength="30">
          <span class="text-danger" asp-validation-for="dt.Documento"></span>
        </div>
        <div class="form-group">
          <label asp-for="dt.Telefono"></label>
          <input asp-for="dt.Telefono" class="form-control" placeholder="Telefono del Director Tecnico" maxlength="30">
          <span class="text-danger" asp-validation-for="dt.Telefono"></span>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Crear Director Tecnico</button>
        <a class="btn btn-secondary" asp-page="./Index">Volver</a>
      </form>
    </div>
  </div>
</section>
